@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.title-container
    width: 100%
    padding-bottom: .5rem
    @include u.flex(column, flex-start, flex-start)

    .project-name
        font-size: v.$heading

        &:hover
            transform: translateX(1.5px)

    .type
        font-size: v.$sub-heading
        margin-top: v.$sub-margin-top
        color: v.$accent

.info-container
    width: 100%
    border-top: v.$border-top
    padding: v.$body-padding-top 0
    @include u.flex(column, flex-end, flex-start)

    .links-container
        width: 100%
        margin-bottom: v.$body-padding-top
        @include u.flex(row, space-between, flex-end)

        .link-button
            text-align: center
            border-radius: .1rem
            box-sizing: border-box
            width: calc( 50% - .5rem)
            background-color: lighten(v.$dark,6% )
            background: linear-gradient(0deg,lighten(v.$dark,3% ) 50%,lighten(v.$dark,6% )50%,lighten(v.$dark,6% )100%)
            @include u.padding(v.$p1/2, v.$p1 )

            &:hover
                // transform: scale(.99)
                // background-color: darken(v.$dark,3%)
                background: lighten(v.$dark,6% )
    .info
        p
            margin-top: 0
            padding: .8rem
            line-height: 1.3rem
            background-color: darken(v.$dark, 2%)
            border-right: .1rem solid lighten(v.$dark, 6%)
            border-bottom: .5rem solid lighten(v.$dark, 6%)
            border-top: .15rem solid darken(v.$dark, 6%)
            border-left: .1rem solid darken(v.$dark, 6%)

@media screen and (min-width: v.$breakpoint)

    .title-container
        width: 35%
        @include u.flex(column, flex-end, flex-end)

    .info-container
        @include u.flex(row, flex-start, flex-start)

        .links-container
            width: 35%
            @include u.flex(column, flex-end, flex-end)

            .link-button
                width: 75%
                margin-bottom: 1rem

        .info
            width: 65%
            p
                margin-left: 1rem
