@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.title-container
    width: 100%
    font-weight: 700
    padding-bottom: .5rem
    @include u.flex(column, flex-start, flex-start)

    .project-name
        font-size: v.$heading

        &:hover
            transform: translateX(-1.5px)

    .type
        font-size: v.$sub-heading
        margin-top: v.$sub-margin-top
        color: v.$accent

.info-container
    width: 100%
    border-top: v.$border-top
    padding: v.$body-padding-top 0
    @include u.flex(column, flex-end, flex-start)

    .links-container
        width: 100%
        margin-bottom: v.$body-padding-top
        @include u.flex(row, space-between, flex-end)

        .link-button
            text-align: center
            border-radius: 5px
            width: calc( 50% - .5rem)
            background-color: v.$shade
            @include u.padding(v.$p1/2, v.$p1 )

            &:hover
                transform: scale(.99)
                background-color: darken(v.$shade,3%)
    .info
        p
            margin-top: 0

@media screen and (min-width: v.$breakpoint)

    .title-container
        width: 35%
        @include u.flex(column, flex-end, flex-end)

    .info-container
        @include u.flex(row, flex-start, flex-start)

        .links-container
            width: 35%
            @include u.flex(column, flex-end, flex-end)

            .link-button
                width: 75%
                margin-bottom: 1rem

        .info
            width: 65%
            p
                margin-left: 1rem
