@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.avatar-container
    margin-top: v.$marginTop
    font-weight: 700
    padding-bottom: 10px
    @include u.flex(column, flex-start, flex-start)

.avatar
    width: 100px
    height: 100px
    margin-bottom: 10px
    @include u.flex(column, center, center)

.name
    font-size: 1.3em

.title
    color: v.$accent

.about-container
    width: 100%
    border-top: 2px solid v.$shade
    @include u.flex(row, flex-end, flex-start)

@media screen and (min-width: 550px)

    .avatar-container
        width: 35%
        @include u.flex(column, center, flex-end)

    .about-me
        width: 65%