@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.title-container
    font-weight: 700
    padding-bottom: .5rem
    @include u.flex(column, flex-start, flex-start)

    .name
        font-size: v.$heading

    .title
        font-size: v.$sub-heading
        margin-top: v.$sub-margin-top
        color: v.$accent

.about-container
    width: 100%
    padding-top: v.$body-padding-top
    border-top: v.$border-top
    @include u.flex(row, flex-end, flex-start)

    .about-me
        padding: .8rem
        line-height: 1.3rem
        box-sizing: border-box
        background-color: darken(v.$dark, 2%)
        border-right: .1rem solid lighten(v.$dark, 6%)
        border-bottom: .5rem solid lighten(v.$dark, 6%)
        border-top: .15rem solid darken(v.$dark, 6%)
        border-left: .1rem solid darken(v.$dark, 6%)
        p
            margin-top: 0

@media screen and (min-width: v.$breakpoint)

    .title-container
        width: 35%
        @include u.flex(column, center, flex-end)

    .about-me
        width: 65%
