@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

.contact-container
    width: 100%
    @include u.flex(column, flex-start, flex-start)

    .contact-details
        font-weight: 700
        padding-bottom: .5em
        @include u.flex(column, flex-start, flex-start)

        .my-name
            font-size: 1.3em

        .my-email
            font-size: .9em
            margin-top: .1em
            color: v.$accent

            &:hover
                transform: translateY(1px)

    .form-container
        width: 100%
        padding-top: 1em
        border-top: v.$border-top
        @include u.flex(row, flex-end, flex-start)

        form
            width: 100%
            border-radius: 5px
            @include u.flex(column, space-evenly, flex-start)

            input, textarea
                width: 100%
                border: none
                outline: none
                color: v.$dark
                font-size: 1.1em
                margin-bottom: v.$p1
                border-radius: 5px
                font-family: v.$main-font
                background-color: darken(v.$light, 10%)
                @include u.padding(v.$p1, v.$p1)

                &:focus
                    background-color: white

                &::placeholder
                    color: v.$shade

            .contact-message
                resize: none

            .submit
                background-color: v.$accent
                &:hover
                    transform: scale(.992)
                    background-color: darken(v.$accent,3%)

            .error
                width: 100%
                font-weight: 700
                color: v.$warning
                margin: -12px 0 4px 0
                @include u.padding(v.$p1/2, v.$p1)

            .msg-sent
                width: 100%
                font-weight: 700
                color: v.$accent
                text-align: center
                @include u.padding(v.$p1/2, v.$p1)

@media screen and ( min-width: v.$breakpoint )
    .contact-container

        .contact-details
            width: 35%
            @include u.flex(column, flex-start, flex-end)

        .form-container
            form
                width: 65%
                @include u.flex(column, flex-start, flex-end)