@use '../../sass-modules/_variables.sass' as v
@use '../../sass-modules/_utilities.sass' as u

%nav
    background-color: v.$accent
    @include u.padding(0, 0)
    @include u.flex(row, center, flex-start)
    a
        color: v.$dark
        &:hover
            color: darken(v.$dark,15%)
            transform: translateY(1.5px)

.navbar
    top: 0
    left: 0
    right: 0
    position: fixed
    font-size: 1.1em
    box-shadow: 0 5px 15px 0 v.$dark
    @extend %nav

.nav-container
    position: relative
    @include u.padding(v.$p1, v.$p1)
    @include u.width(90%, v.$max-width)
    @include u.flex(row, space-between, flex-start)

.right-side
    @include u.width(190px)
    @include u.flex(row, space-between, flex-start)

.footer
    @extend %nav
