// Font
$main-font: 'Bellota Text', sans-serif
$serif: 'Vidaloka', serif
// Color
$dark: #3f3b3b
$shade:#575151
$light:#f7e8e8
$accent:#feb062

// Space
$max-width: 650px
$p1: 2em
$p2: 1em

//Extras
$border-top: 1.5px solid darken($dark, 4%)