@use 'sass-modules/_variables.sass' as v

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')

html
  font-size: 18px

  body
    margin: 0
    color: v.$light
    min-width: 320px
    font-family: v.$main-font
    background-color: v.$dark

  a
    text-decoration: none
    color: v.$light
