@use 'sass-modules/_variables.sass' as v

@import url('https://fonts.googleapis.com/css?family=Bellota+Text&display=swap')

html body
  margin: 0
  color: v.$light
  font-family: v.$main-font
  background-color: v.$shade

  a
    text-decoration: none
    color: v.$light
